<div class="d-flex justify-content-between">
    <div class="p-1">
        <span class="badge badge-pill badge-light" *ngIf="data && !data['Agent']"><i class="fas fa-phone fa-fw"></i> Offline</span>
        <span class="badge badge-pill badge-success" *ngIf="data && data['Agent'] && data['On pause'] == '-'"><i class="fas fa-phone fa-fw"></i> Online</span>
        <span class="badge badge-pill badge-warning" placement="bottom" [ngbTooltip]="data['On pause']" *ngIf="data && data['Agent'] && data['On pause'] != '-'"><i class="fas fa-phone fa-fw"></i> Away</span>
    </div>
    <div class="p-1">
        <p><span placement="left" ngbTooltip="Comida" class="badge badge-pill badge-warning" [style.width.px]="80"><i class="fas fa-utensils fa-fw"></i> {{ pauses['Comida'] ? printT(pauses['Comida']) : '00:00' }}</span></p>
    </div>
    <div class="p-1">
        <p><span placement="left" ngbTooltip="PNP" class="badge badge-pill badge-warning" [style.width.px]="80"><i class="fas fa-pause fa-fw"></i> {{ pauses['PNP'] ? printT(pauses['PNP']) : '00:00' }}</span></p>
    </div>
</div>