<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="doPayment" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <mat-horizontal-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="selectAccount">
                    <ng-template matStepLabel>Selecciona una cuenta</ng-template>
                    <app-search-payment (selected)="selAccount($event, stepper)" [defaultSearch]="ml"></app-search-payment>
                </mat-step>
                <mat-step [stepControl]="selectItems">
                    <ng-template matStepLabel>Elige lo items</ng-template>
                    <div class="d-flex justify-content.justify-content-between align-items-center flex-wrap" *ngIf="itms.length>0">
                        <div class="container row rowItemNoBorder">
                            <div class="col-3"></div>
                            <div class="col-2 text-center"><b>Total</b></div>
                            <div class="col-4 text-center row">
                                <div class="col-6 text-right text-success"><small>Saldo Prepago</small></div>
                                <div class="col-6 text-right">Saldo Total</div>
                            </div>
                            <div class="col-2 text-center"><b>A Pagar</b></div>
                            <div class="col-1 text-center"></div>
                        </div>
                        <mat-list class="container" #shoes>
                            <ng-container *ngFor="let i of itms">
                                <ng-container *ngIf="showItem(i)">
                                    <!-- <ng-container> -->
                                    <!-- <mat-list-item *ngIf="i['montoPagado'] <= i['monto'] && i['moneda'] == accMon"> -->
                                    <div class="container row rowItem align-items-center">
                                        <div class="col-3">
                                            <button mat-icon-button color="primary">
                                                    <span class="mr-2">{{ i['itemLocatorId'] }}</span>
                                                    <mat-icon>{{ i['icon'] }}</mat-icon><span class="ml-2">{{ i['tipoServicio'] }}</span>
                                                </button>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto text-right">{{ i['monto'] | currency:'MXN':'symbol-narrow':'.2-2' }}</div>
                                        <div class="col-4 mt-auto mb-auto text-right row">
                                            <div class="col-6 text-right" [ngClass]="{'text-danger': (i['montoParcial'] - i['montoPagado']) > 0, 'text-success': (i['montoParcial'] - i['montoPagado']) <= 0}">
                                                <p><small>{{ (i['toPay'] ? i['toPay'] : 0) | currency:'MXN':'symbol-narrow':'.2-2' }}</small></p>
                                                <p><small [ngClass]="{'text-success': i['montoParcial'] - i['montoPagado'] - (i['toPay'] ? i['toPay'] : 0) <= 0}">saldo: ({{ ((i['montoParcial'] - i['montoPagado'] - (i['toPay'] ? i['toPay'] : 0)) < 0 ? 0 : (i['montoParcial'] - i['montoPagado'] - (i['toPay'] ? i['toPay'] : 0))) | currency:'MXN':'symbol-narrow':'.2-2' }})</small></p>
                                            </div>
                                            <div class="col-6 text-right" [ngClass]="{'text-danger': (i['monto'] - i['montoPagado']) > 0, 'text-success': (i['monto'] - i['montoPagado']) <= 0}">
                                                <b>{{ (i['monto'] - i['montoPagado']) | currency:'MXN':'symbol-narrow':'.2-2' }}</b>
                                                <p><small [ngClass]="{'text-success': i['monto'] - i['montoPagado'] - (i['toPay'] ? i['toPay'] : 0) <= 0}">saldo: ({{ (i['monto'] - i['montoPagado'] - (i['toPay'] ? i['toPay'] : 0)) | currency:'MXN':'symbol-narrow':'.2-2' }})</small></p>
                                            </div>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto text-right">
                                            <mat-form-field class="example-full-width" [style.width.px]="130">
                                                <input type="number" [max]="(i['monto'] - i['montoPagado'])" (change)="changeAmmount($event.target.value, i)" [(ngModel)]="i['toPay']" min="0" style="font-size: 11px" matInput placeholder="Monto a Pagar" [name]="i['itemId']" [readonly]="!i['selected']">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-1">
                                            <mat-checkbox [disabled]="remaining <= 0 && !i['selected']" class="example-margin" (change)="onSelect($event,i['itemId'], i)" [(ngModel)]="i['selected']"></mat-checkbox>
                                        </div>
                                    </div>
                                    <!-- </mat-list-item> -->
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </ng-container>
                        </mat-list>
                    </div>
                    <div class='container ml-auto text-right p-3'>
                        <h6>Disponible: <span [ngClass]="{'text-success': remaining > 0, 'text-danger': remaining <= 0}">{{ remaining | currency:'MXN':'symbol-narrow':'.2-2' }}</span></h6>
                        <div class="d-flex justify-content-end p-2">
                            <button mat-raised-button class="m-1" color="danger" (click)="closeModal(stepper)" [disabled]="loading['checkOut']">Cancelar</button>
                            <button mat-raised-button matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" (click)="buildCheckOut( stepper )" [disabled]="items.length <= 0">Next</button>
                        </div>
                    </div>

                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Confirma tu operación</ng-template>
                    <div class="d-flex justify-content.justify-content-between align-items-center flex-wrap p-2" *ngIf="builtCheckOut['items']">
                        <div class="container row rowItemNoBorder">
                            <div class="col-3"></div>
                            <div class="col-2 text-center"><b>Total</b></div>
                            <div class="col-4 text-center row">
                                <div class="col-6 text-right text-success">Prepagado</div>
                                <div class="col-6 text-right">A Pagar</div>
                            </div>
                            <div class="col-3 text-center"><b>Saldo</b></div>
                        </div>
                        <mat-list class="container" #shoes>
                            <ng-container *ngFor="let i of builtCheckOut['items']">
                                <!-- <mat-list-item *ngIf="i['montoPagado'] <= i['monto'] && i['moneda'] == accMon"> -->
                                <div class="container row rowItem align-items-center">

                                    <div class="col-3">
                                        <button mat-icon-button color="primary">
                                                        <span class="mr-2">{{ i['itemLocatorId'] }}</span>
                                                        <mat-icon>{{ i['icon'] }}</mat-icon><span class="ml-2">{{ i['tipoServicio'] }}</span>
                                                    </button>
                                    </div>
                                    <div class="col-2 mt-auto mb-auto text-right">{{ i['monto'] | currency:'MXN':'symbol-narrow':'.2-2' }}</div>
                                    <div class="col-4 mt-auto mb-auto text-right row">
                                        <div class="col-6 text-right text-info">
                                            <p>{{ (i['montoPagado'] ? i['montoPagado'] : 0) | currency:'MXN':'symbol-narrow':'.2-2' }}</p>

                                        </div>
                                        <div class="col-6 text-right text-success">
                                            <b>{{ (i['toPay']) | currency:'MXN':'symbol-narrow':'.2-2' }}</b>

                                        </div>
                                    </div>
                                    <div class="col-3 mt-auto mb-auto text-right" [ngClass]="{'text-danger': (i['monto']-i['montoPagado']-i['toPay']) > 0,'text-success': (i['monto']-i['montoPagado']-i['toPay']) <= 0}">
                                        <b>{{ (i['monto']-i['montoPagado']-i['toPay']) | currency:'MXN':'symbol-narrow':'.2-2' }}</b>
                                    </div>
                                </div>
                                <!-- </mat-list-item> -->
                                <mat-divider></mat-divider>
                            </ng-container>
                        </mat-list>
                    </div>
                    <div class="d-flex justify-content-end p-2">
                        <button mat-raised-button class="m-1" color="danger" (click)="closeModal(stepper)" [disabled]="loading['checkOut']">Cancelar</button>
                        <button mat-raised-button class="m-1" matStepperPrevious [disabled]="loading['checkOut']">Back</button>
                        <button mat-raised-button class="m-1" color='warn' (click)="stepper.reset()" [disabled]="loading['checkOut']">Reset</button>
                        <button mat-raised-button class="m-1" color='primary' (click)="checkOut(stepper)" [disabled]="loading['checkOut']"><span *ngIf="!loading['checkOut']">Saldar</span><span *ngIf="loading['checkOut']"><i class="fa fa-spinner fa-pulse"></i></span></button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>