<div class="alert alert-danger" role="alert" *ngIf="!_init.checkSingleCredential('app_templates')">
    <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">Gerencia</span> si necesitas accesos.</p>
</div>
<div class="container-fluid" *ngIf="_init.checkSingleCredential('app_cotizador')">
    <div class="container-fluid">
        <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <span><h1 class="display-3">Macros para Whatsapp</h1></span>
                        <p class="lead">Consulta, crea y edita macros para Whatsapp</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end" *ngIf="!loading['templates']">
                    <button class="ml-1" mat-raised-button (click)="getTemplates()" color='primary'>Load</button>
                    <button class="ml-1" mat-raised-button (click)="openAddTemplate()" color='success'>Agregar</button>
                </div>
            </div>
        </div>

    </div>
    <mat-progress-bar mode="buffer" *ngIf="loading['templates']"></mat-progress-bar>
    <div class="container-fluid" *ngIf="!loading['templates']">

        <ngx-table [configuration]="config" [data]="templates" [columns]="columns">
            <ng-template let-row>
                <td *ngFor="let item of columns;" class='text-center'>
                    <span [ngSwitch]="item['type']">
                        <span style="font-size: smaller" *ngSwitchCase="'default'">
                            {{ row[item['key']] }}
                        </span>
                    <span style="font-size: smaller" *ngSwitchCase="'date'">
                            {{ formatDate(row[item['key']], 'DD MMM YYYY') }}
                        </span>
                    <span style="font-size: smaller" *ngSwitchCase="'edit'">
                        <ng-container *ngIf="row[item['key'] + '_edit']">
                            <mat-progress-bar mode="buffer"></mat-progress-bar>
                        </ng-container>
                        <ng-container *ngIf="!row[item['key'] + '_edit']">
                            <div [style.width.%]="100" class="d-flex justify-content-between align-items-center">
                                <div [style.width.%]="100" class="d-flex justify-content-between align-items-center" *ngIf="!row[item['key'] + '_editFlag']">
                                    <div [innerHtml]="newLine(row[item['key']])" class='text-left'></div>
                                    <button mat-icon-button color="primary" (click)="row[item['key'] + '_editFlag'] = true"><mat-icon>edit</mat-icon></button>
                                </div>
                                <div class="d-flex justify-content-start align-items-center" *ngIf="row[item['key'] + '_editFlag']">
                                    <div>
                                        <textarea style="font-size: 11px" [name]="item['key'] + '_area_' + row['id']" [id]="item['key'] + '_area_' + row['id']" placeholder="Monto Total" [ngModel]="row[item['key']]"></textarea>
                                    </div>
                                    <button style="zoom: 0.8" mat-icon-button color='warn' (click)="cxlEdit(row, item['key'], item['key'] + '_area_' + row['id'])" [disabled]="row[item['key'] + '_edit']"><mat-icon>cancel</mat-icon></button>
                                    <button style="zoom: 0.8" mat-icon-button color='primary' (click)="editTmpl(row, item['key'], item['key'] + '_area_' + row['id'])" [disabled]="row[item['key'] + '_edit']"><mat-icon>done</mat-icon></button>
                                </div>
                            </div>
                        </ng-container>
                    </span>
                    <span style="font-size: smaller" *ngSwitchCase="'activate'">
                            <div [style.width.%]="100" class="d-flex justify-content-between align-items-center" *ngIf="row['load_activate']">
                                <mat-progress-bar mode="buffer"></mat-progress-bar>
                            </div>
                            <div [style.width.%]="100" class="d-flex justify-content-between align-items-center" *ngIf="!row['load_activate']">
                                <div [ngClass]="{'text-secondary': row[item['key']] != 1, 'text-success': row[item['key']] == 1}">{{ row[item['key']] == 1 ? 'Activo' : 'Inactivo' }}</div>
                                <button mat-icon-button (click)="activateTmpl(row, row[item['key']] != 1)" [color]="row[item['key']] == 1 ? 'primary' : 'warn'"><mat-icon *ngIf="row[item['key']] == 1">toggle_on</mat-icon><mat-icon *ngIf="row[item['key']] != 1">toggle_off</mat-icon></button>
                            </div>
                        </span>
                    <span style="font-size: smaller" *ngSwitchCase="'delete'">
                            <div [style.width.%]="100" class="d-flex justify-content-center align-items-center">
                                <mat-progress-bar mode="buffer" *ngIf="row['load_delete']"></mat-progress-bar>
                                <button mat-icon-button [color]="'warn'" [disabled]="row['activo'] == 1" (click)="deleteTmpl(row)"  *ngIf="!row['load_delete']"><mat-icon>delete_forever</mat-icon></button>
                            </div>
                        </span>
                    </span>
                </td>
            </ng-template>
        </ngx-table>

    </div>

    <!-- ====================== AGREGAR TEMPLATE ====================== -->
    <div class="modal fade" id="addTemplate" tabindex="-1" role="dialog" aria-labelledby="addTemplateLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTemplateLabel">Agregar Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="newTemplateForm" (ngSubmit)="addTemplate()">
                    <div class="modal-body">
                        <div class="d-flex justify-content-center pt-3" *ngIf="!loading['addTemplate']">
                            <mat-form-field [style.width.px]="200" class="ml-2">
                                <input matInput placeholder="Idioma" class="text-sm" formControlName="idioma" [style.width.px]="200">
                                <mat-error *ngIf="newTemplateForm.controls['idioma'].errors && newTemplateForm.controls['idioma'].errors['required']">
                                    El idioma es obligatorio
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field [style.width.px]="200" class="ml-2">
                                <input matInput placeholder="Categoria" class="text-sm" formControlName="categoria" [style.width.px]="200">
                                <mat-error *ngIf="newTemplateForm.controls['categoria'].errors && newTemplateForm.controls['categoria'].errors['required']">
                                    La categoría es obligatoria
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field [style.width.px]="200" class="ml-2">
                                <input matInput placeholder="Título" class="text-sm" formControlName="titulo" [style.width.px]="200">
                                <mat-error *ngIf="newTemplateForm.controls['titulo'].errors && newTemplateForm.controls['titulo'].errors['required']">
                                    El título es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-center pt-3" *ngIf="!loading['addTemplate']">
                            <mat-form-field [style.width.px]="520" class="ml-2">
                                <textarea matInput placeholder="Texto" class="text-sm" formControlName="texto" [style.width.px]="800"></textarea>
                                <mat-error *ngIf="newTemplateForm.controls['texto'].errors && newTemplateForm.controls['texto'].errors['required']">
                                    El texto es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-progress-bar color="accent" mode="buffer" *ngIf="loading['addTemplate']"></mat-progress-bar>

                    </div>
                    <div class="modal-footer">
                        <ng-container *ngIf="!loading['addTemplate']">
                            <button mat-raised-button color='warn' data-dismiss="modal">Cerrar</button>
                            <button mat-raised-button type="submit" color="success" [disabled]="newTemplateForm.status=='INVALID'">Aceptar</button>
                        </ng-container>
                        <ng-container *ngIf="loading['addTemplate']">
                            <mat-progress-bar mode="buffer"></mat-progress-bar>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>