<div class="alert alert-danger" role="alert" *ngIf="!showContents">
    <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>
<div class="container-fluid" *ngIf="showContents">

    <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn" style="padding-top: 0px">

        <div class='container'>
            <div class="container-fluid d-flex flex-wrap justify-content-start align-items-baseline">
                <div class="form d-flex justify-content-start pr-3">
                    <div class="form-group p-1">
                        <label for="habs">No. Habs</label>
                        <select [(ngModel)]="habs" name="habs" id="adults" class="form-control" [style.width.px]="60">
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                    </div>
                    <div class="form-group p-1">
                        <label for="fechas">Fechas</label>
                        <div class="input-group">
                            <input class="form-control" id="fechas" placeholder="yyyy-mm-dd" [autoClose]="false" (click)="d.toggle()" id="picker" name="dp" ngbDatepicker #d="ngbDatepicker" [dayTemplate]="t" (dateSelect)="onDateSelection($event, d)" autocomplete="off" [style.width.px]="150">
                            <ng-template #t let-date="date" let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                            {{ date.day }}
                                            </span>
                            </ng-template>
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fa fa-calendar fa-fw"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-1">
                        <label for="grupo">Código</label>
                        <select [(ngModel)]="selectedCode" name="grupo" id="grupo" class="form-control">
                                                <option [value]="gp['grupo']" *ngFor="let gp of groupsTfa">{{ gp['grupo'] }}</option>
                                            </select>
                    </div>


                </div>

            </div>

        </div>
        <div class="container p-3 d-flex flex-wrap justify-content-between align-items-baseline">
            <mat-accordion class="align-self-baseline">
                <mat-expansion-panel [expanded]="filterExp">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Filtros
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <ng-container *ngFor="let i of habs | fill; index as x">
                        <app-search-hotel-module #fltr [noHab]="x+1"></app-search-hotel-module>
                    </ng-container>
                </mat-expansion-panel>
            </mat-accordion>
            <div style="text-align: center" class="p-1">
                <ui-switch color="green" size="large" name='ch_comida' [(ngModel)]="moneda" checkedLabel='MXN' uncheckedLabel='USD'></ui-switch>
                <p>
                    <small>Moneda </small>
                </p>
            </div>
            <div class="p-1">
                <!-- <button mat-raised-button class="m-1" color="primary" (click)="popReserve([1])">TEST</button> -->
                <button mat-raised-button color="primary" type="button" (click)="getCotizacion()" [disabled]="loading['cotizador']">Cotizar <span *ngIf="loading['cotizador']"><i class="fa fa-fw fa-spinner fa-pulse"></i></span></button>
            </div>
        </div>




    </div>
    <div class="container" *ngIf="resultCot['habs']">
        <mat-card>
            <div class="d-flex justify-content-between">
                <span><h3><i class="fas fa-moon p-1"></i> {{ resultCot['gen']['noches'] }} Noches</h3></span>
                <span><h3><i class="far fa-calendar-alt p-1"></i> ({{ formatDate(resultCot['gen']['inicio'],'DD MMM \'YY') }}) a ({{ formatDate(resultCot['gen']['fin'],'DD MMM \'YY') }}) </h3></span>
                <span><h3><i class="fas fa-bed p-1"></i> {{ resultCot['gen']['nh'] }} Habs</h3></span>
            </div>
        </mat-card>
        <mat-accordion class="acc-headers">
            <ng-container *ngFor="let h of resultCot['habs']">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class='exp-height'>

                        <div class="d-flex justify-content-between container">
                            <div class="d-flex justify-content-start">
                                <div style="background-size: cover; background-position: center; width: 100px; height: 35px; border-radius: 30px" [style.background-image]="h['hotelUrl']"></div>
                                <div class="pl-3" [style.width.px]="80">{{ h['hotelCode'] }}</div>
                                <div>
                                    <span><span class='pl-3 font-weight-bold'>{{ h['habitacion'] }}</span><span class="text-info">({{ h['habCat']}})</span></span><br>
                                    <span class="text-danger" *ngIf="h['promoAplicada']">{{ h['promoAplicada']['promo_es'] }}</span>
                                </div>


                            </div>
                            <ng-container *ngIf="!h['isOk'] || (moneda && h['mxn_total'] == 0) || (!moneda && h['usd_total'] == 0)">
                                <div class="text-black-50 font-italic pl-3">
                                    {{ h['no_disp'] ? h['no_disp'] : h['no_occ'] ? h['no_occ'] : h['no_adl'] ? h['no_adl'] : h['no_min'] ? h['no_min'] : h['no_comb'] ? h['no_comb'] : moneda && h['mxn_total'] == 0 ? 'Sin tarifas cargadas' : !moneda && h['usd_total'] == 0 ? 'Sin tarifas cargadas'
                                    : 'No Disp'}}
                                </div>
                            </ng-container>
                            <ng-container *ngIf="h['isOk'] && !(moneda && h['mxn_total'] == 0) && !(!moneda && h['usd_total'] == 0)">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div [style.width.px]="110" class='text-right pl-3' style="text-decoration:line-through">{{ (moneda ? h['mxn_total'] : h['usd_total']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</div>
                                        <div [style.width.px]="45" class='text-right pl-3 text-success font-weight-bold'>{{ (1-(h['l1usd_totalDisc']/h['usd_total'])) | percent:'.0-0' }}</div>
                                        <!-- <div [style.width.px]="110" class="text-right text-primary font-weight-bold">
                                            <h6>{{ (moneda ? h['l1mxn_totalDisc'] : h['l1usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</h6>
                                        </div> -->
                                        <div [style.width.px]="130" class="text-right text-success pl-3 font-weight-bold">
                                            <mat-chip-list aria-label="Fish selection">
                                                <mat-chip><span [style.width.px]="120">{{ (moneda ? h['l1mxn_totalDisc'] : h['l1usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</span></mat-chip>
                                            </mat-chip-list>
                                            <!-- <h4>{{ (moneda ? h['mxn_totalDisc'] : h['usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</h4> -->
                                        </div>
                                        <div [style.width.px]="45" class='text-right pl-3 text-success font-weight-bold'>{{ (1-(h['usd_totalDisc']/h['l1usd_totalDisc'])) | percent:'.0-0' }}</div>
                                        <div [style.width.px]="130" class="text-right text-success pl-3 font-weight-bold">
                                            <mat-chip-list aria-label="Fish selection">
                                                <mat-chip color='primary' selected><span [style.width.px]="120">{{ (moneda ? h['mxn_totalDisc'] : h['usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</span></mat-chip>
                                            </mat-chip-list>
                                            <!-- <h4>{{ (moneda ? h['mxn_totalDisc'] : h['usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</h4> -->
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end pt-2">
                                        <ng-container *ngIf="h['spl3'] == 1 && h['l3usd_totalDisc'] != h['l2usd_totalDisc']">
                                            <div [style.width.px]="45" class='text-right pl-3 text-success font-weight-bold'>{{ (1-(h['l3usd_totalDisc']/h['l1usd_totalDisc'])) | percent:'.0-0' }}</div>
                                            <div [style.width.px]="130" class="text-right text-success pl-3 font-weight-bold">
                                                <mat-chip-list aria-label="Fish selection">
                                                    <mat-chip [matTooltip]="h['spl3Desc']" matTooltipClass="mat-l3" color='l3' selected><span [style.width.px]="120">{{ (moneda ? h['l3mxn_totalDisc'] : h['l3usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</span></mat-chip>
                                                </mat-chip-list>
                                                <!-- <h4>{{ (moneda ? h['mxn_totalDisc'] : h['usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</h4> -->
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="h['spl4'] == 1 && h['l4usd_totalDisc'] != h['l3usd_totalDisc']">
                                            <div [style.width.px]="45" class='text-right pl-3 text-success font-weight-bold'>{{ (1-(h['l4usd_totalDisc']/h['l1usd_totalDisc'])) | percent:'.0-0' }}</div>
                                            <div [style.width.px]="130" class="text-right text-success pl-3 font-weight-bold">
                                                <mat-chip-list aria-label="Fish selection">
                                                    <mat-chip [matTooltip]="h['spl4Desc']" matTooltipClass="mat-l4" color='l4' selected><span [style.width.px]="120">{{ (moneda ? h['l4mxn_totalDisc'] : h['l4usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</span></mat-chip>
                                                </mat-chip-list>
                                                <!-- <h4>{{ (moneda ? h['mxn_totalDisc'] : h['usd_totalDisc']) | currency:(moneda ? 'MXN' : 'USD'):'symbol-narrow':'.2-2' }}</h4> -->
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </mat-expansion-panel-header>

                    <app-cot-hab-detail [habs]="h['habs']" [level]="h['lSelected']" [moneda]="moneda"></app-cot-hab-detail>
                    <div class="ml-auto mr-auto d-flex justify-content-center flex-wrap pt-2">
                        <div [style.width.px]="55" [style.height.px]="30" class="pt-1 pr-2">Dispo:</div>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip [color]="d['blackout'] == '1' ? 'warn' : 'primary'" selected *ngFor="let d of h['bo']">{{ formatDate(d['fecha'],'DD MMM') }}</mat-chip>

                        </mat-chip-list>
                    </div>
                    <mat-action-row *ngIf="h['isOk']">
                        <div class="d-flex justify-content-around flex-wrap p-2">
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="h['lSelected']" class="m-1">
                                <mat-radio-button value="1">L1</mat-radio-button>
                                <mat-radio-button value="2" [disabled]="h['l2usd_totalDisc'] == h['l1usd_totalDisc']">L2</mat-radio-button>
                                <mat-radio-button value="3" [disabled]="h['spl3']!='1' || h['l3usd_totalDisc'] == h['l2usd_totalDisc']">L3</mat-radio-button>
                                <mat-radio-button value="4" [disabled]="h['spl4']!='1' || h['l4usd_totalDisc'] == h['l3usd_totalDisc']">L4</mat-radio-button>
                            </mat-radio-group>
                            <button mat-raised-button class="m-1" color="accent" (click)="sendCotizacion(h)" *ngIf="_init.checkSingleCredential('app_cotizador_budget')">Enviar Cotización</button>
                            <button mat-raised-button class="m-1" color="primary" (click)="popReserve(h)" *ngIf="_init.checkSingleCredential('app_cotizador_rsv')">Reservar</button>
                        </div>
                    </mat-action-row>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>

    </div>
</div>

<!-- Send Budget Modal -->
<div class="modal fade" id="cotizador" tabindex="-1" role="dialog" aria-labelledby="cotiazadorModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cotiazadorModal">Enviar como cotización</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="loading['cotizando']">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <app-search-zd-user #zdu (selected)="selectedUser($event)" *ngIf="(!budgetExistTicket || (budgetExistTicket && !budgetNoEdit)) && searchUserFlag"></app-search-zd-user>
                <div class='container d-flex justify-content-center' *ngIf="!searchUserFlag && !budgetExistTicket">
                    <table class="example-full-width" cellspacing="0" [style.width.px]="880">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre" readonly="true" [(ngModel)]="budgetName">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Correo" readonly="true" [(ngModel)]="budgetMail">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Telefono" readonly="true" [(ngModel)]="budgetNumber">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="ZendeskId" readonly="true" [(ngModel)]="budgetZenId">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <div class='p-1'>
                        <button mat-raised-button type="button" (click)="chgUser()" color="accent">Cambiar Cliente</button>
                    </div>
                </div>
                <mat-progress-bar mode="query" *ngIf="loading['getCot']"></mat-progress-bar>
                <div class='container d-flex justify-content-center' *ngIf="!searchUserFlag && !budgetExistTicket && budgetExistingBudgets.length>0">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <p><span>Hay <b>{{budgetExistingBudgets.length}}</b> Cotizaciones Existentes</span></p>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Revisar cotizaciones existentes
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <mat-list>
                                <ng-container *ngFor="let c of budgetExistingBudgets">
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>mail_outline</mat-icon>
                                        <h4 mat-line><b>{{c['subject']}}</b></h4>
                                        <p mat-line class="demo-2">
                                            {{formatDate(c['created_at'], 'DD MMM YYYY', false)}} por
                                            <span class="text-info"><b>{{c['agente']}}</b></span>
                                            <span> (ver ticket <a [href]="c['ticketUrl']" target="_blank">#{{ c['id'] }}</a>)</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </mat-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="p-1 d-flex justify-content-center">
                    <div style="text-align: center" class="p-2">
                        <ui-switch color="green" size="small" name='exist' [(ngModel)]="budgetExistTicket"></ui-switch>
                        <p>
                            <small>Ticket Existente</small>
                        </p>
                    </div>
                    <div style="text-align: center" class="p-2" *ngIf="budgetExistTicket">
                        <ui-switch color="green" size="small" name='exist' [(ngModel)]="budgetNoEdit"></ui-switch>
                        <p>
                            <small>Mismo Cliente</small>
                        </p>
                    </div>
                    <div style="text-align: center" class="p-2">
                        <ui-switch color="green" size="small" name='idioma' checkedLabel='Esp' uncheckedLabel='Eng' [(ngModel)]="budgetLang"></ui-switch>
                        <p>
                            <small>Idioma</small>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center pb-2" *ngIf="budgetExistTicket">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="# ticket" [(ngModel)]="budgetTicket">
                    </mat-form-field>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loading['cotizando']">Cancelar</button>
                <button type="button" class="btn btn-primary" [disabled]="loading['cotizando'] || (budgetExistTicket && budgetTicket=='') ||  (!budgetExistTicket && searchUserFlag)" (click)="sendBudget()">Enviar  <span *ngIf="loading['cotizando']"><i class="fas fa-spinner fa-pulse"></i></span></button>
            </div>
        </div>
    </div>
</div>