.container-fluid-extranet {
    width: 1450px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rsvList {
    overflow: auto;
}

.tab-icon {
    margin-right: 8px;
}

mat-tab {
    padding: 0px!important;
    min-width: 10px!important;
}