<ng-container *ngIf="showOpts['ch_jornada']">
    <ng-container *ngIf="asistData">
        <div class='d-flex justify-content-start'>
            <div class="p-1 ml-auto">
                <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px">j:</button>
            </div>

            <ng-template #popContent>
                <ng-container *ngIf="asistData['j_login'] != null; else Other">
                    <table class="table table-sm table-responsive table-hover" style="font-size: smaller">
                        <thead>
                            <tr>
                                <th>Log</th>
                                <th>Jornada</th>
                                <th>Día</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Login:</td>
                                <td [ngClass]="{'text-danger': asistData['Retardo']}">{{ formatDate(asistData['j_login'], 'HH:mm:ss') }}</td>
                                <td>{{ formatDate(asistData['login'], 'HH:mm:ss') }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Logout:</td>
                                <td [ngClass]="{'text-danger': asistData['SalidaAnticipada'] == 1}">{{ formatDate(asistData['j_logout'], 'HH:mm:ss') }}</td>
                                <td>{{ formatDate(asistData['logout'], 'HH:mm:ss') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-template #Other>Sin información de logueos</ng-template>
            </ng-template>
            <div class="p-1 ml-auto">
                <button class="btn btn-sm btn-block" style="width: 100px" [ngClass]="{'btn-secondary':        asistData['Descanso'] == 1,
                      'btn-primary':          asistData['Descanso'] != 1 && asistData['js'] != null,
                      'btn-outline-secondary': asistData['js'] == null}" placement="top" [ngbPopover]="popContent" popoverTitle="Logs de Jornada">

              <span class="text-center">
                <small *ngIf="asistData['Descanso'] == 1">Descanso </small>
                <small *ngIf="asistData['Descanso'] != 1 && asistData['js'] != null">
                  {{ formatDate(asistData['js'], 'HH:mm') }} - {{ formatDate(asistData['je'], 'HH:mm') }}
                  <i class="fa fa-fw fa-info-circle"></i>
                </small>
                <small *ngIf="asistData['js'] == null">*</small>
              </span>
              <ng-container *ngIf="showOpts['sh_p']">
                <app-cumplimiento [config]="progressProps( perCumplimiento( 'j' ) )" *ngIf="asistData['Descanso'] != 1 && asistData['js'] != null"></app-cumplimiento>
              </ng-container>
        </button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!asistData">
        <div class='d-flex justify-content-start'>
            <div class="p-1 ml-auto">
                <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px">j</button>
            </div>

            <div class="p-1 ml-auto">
                <button class="btn btn-sm btn-block btn-light" style="width: 100px">
          <span class="text-center">
            <small>NA</small>
          </span>
        </button>
            </div>
        </div>
    </ng-container>
</ng-container>

<!-- Extra -->
<ng-container *ngIf="showOpts['ch_x'] && asistData">
    <div class='d-flex justify-content-start'>
        <div class="p-1 ml-auto">
            <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px">x</button>
        </div>

        <ng-template #popContent>
            <ng-container *ngIf="asistData['login'] != null; else Other">
                <table class="table table-sm table-responsive table-hover" style="font-size: smaller">
                    <thead>
                        <tr>
                            <th>Log</th>
                            <th>Extra 1</th>
                            <th *ngIf="asistData['x2s'] != asistData['x2e']">Extra 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Login:</td>
                            <td>{{ formatDate(asistData['x1_login'], 'HH:mm:ss') }}</td>
                            <td *ngIf="asistData['x2s'] != asistData['x2e']">{{ formatDate(asistData['x2_login'], 'HH:mm:ss') }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Logout:</td>
                            <td>{{ formatDate(asistData['x1_logout'], 'HH:mm:ss') }}</td>
                            <td *ngIf="asistData['x2s'] != asistData['x2e']">{{ formatDate(asistData['x2_logout'], 'HH:mm:ss') }}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #Other>Sin información de logueos</ng-template>
        </ng-template>
        <div class="p-1 ml-auto">
            <button class="btn btn-sm btn-block" style="width: 100px" [ngClass]="{'btn-warning':          asistData['Descanso'] != 1 && asistData['x1s'] != asistData['x1e'],
                    'btn-outline-secondary': asistData['x1s'] == null || asistData['Descanso'] == 1}" placement="top" [ngbPopover]="popContent" popoverTitle="Logs de H. Extra">

            <span class="text-center">
              <small *ngIf="asistData['Descanso'] == 1 || asistData['x1s'] == null">_</small>
              <small *ngIf="asistData['Descanso'] != 1 && asistData['x1s'] != asistData['x1e']">
                {{ formatDate(asistData['x1s'], 'HH:mm') }} - {{ formatDate(asistData['x1e'], 'HH:mm') }}
                <i class="fa fa-fw fa-info-circle"></i>
              </small>
              <small *ngIf="asistData['Descanso'] != 1 && asistData['x2s'] != asistData['x2e']"><br>
                {{ formatDate(asistData['x2s'], 'HH:mm') }} - {{ formatDate(asistData['x2e'], 'HH:mm') }}
                <i class="fa fa-fw fa-info-circle"></i>
              </small>
            </span>
            <ng-container *ngIf="showOpts['sh_p']">
              <app-cumplimiento [config]="progressProps( perCumplimiento( 'x1' ), 'warning' )" *ngIf="asistData['Descanso'] != 1 && asistData['x1s'] != asistData['x1e']"></app-cumplimiento>
              <p style='margin-top: 2px'><app-cumplimiento [config]="progressProps( perCumplimiento( 'x2' ), 'warning' )" *ngIf="asistData['Descanso'] != 1 && asistData['x2s'] != asistData['x2e']"></app-cumplimiento></p>
            </ng-container>
      </button>
        </div>
    </div>
    <div class='d-flex justify-content-center' *ngIf="showOpts['ch_x_p']">
        <app-extra-switch [pago]="asistData['phx']" [id]="asistData['h_id']" [fecha]="asistData['js']" [tipo]="'hx'" (save)="hxSave($event)"></app-extra-switch>
    </div>

</ng-container>

<!-- Comidas -->
<ng-container *ngIf="showOpts['ch_comida'] && asistData">
    <div class='d-flex justify-content-start'>
        <div class="p-1 ml-auto">
            <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px">c</button>
        </div>

        <div class="p-1 ml-auto">
            <button class="btn btn-sm btn-block" style="width: 100px" [ngClass]="{'btn-info':          asistData['Descanso'] != 1 && asistData['cs'] != asistData['ce'],
                    'btn-outline-secondary': asistData['cs'] == null || asistData['Descanso'] == 1 || asistData['cs'] == asistData['ce']}">

            <span class="text-center">
              <small *ngIf="asistData['cs'] == null || asistData['Descanso'] == 1 || asistData['cs'] == asistData['ce']">_</small>
              <small *ngIf="asistData['Descanso'] != 1 && asistData['cs'] != asistData['ce']">
                {{ formatDate(asistData['cs'], 'HH:mm') }} - {{ formatDate(asistData['ce'], 'HH:mm') }}
              </small>
            </span>
      </button>
        </div>
    </div>

</ng-container>

<!-- Retardos -->
<ng-container *ngIf="showOpts['ch_ret'] && asistData">
    <div class='d-flex justify-content-start'>
        <div class="p-1 ml-auto">
            <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px" data-toggle="modal" data-target="#pyaExceptModal" (click)="newExcept()" [disabled]="!editable">r</button>
        </div>
        <div class="p-1 ml-auto">
            <button [style.width.px]="100" class="btn btn-block btn-outline-secondary text-warning" *ngIf="asistData['loading']">
            <span class="text-center">
              <i class="fas fa-spinner fa-fw fa-pulse"></i>
            </span>
      </button>
            <app-puntualidad-badge btnWidth=100 [dataAsesor]="asistData" [date]="date" *ngIf="!asistData['loading']"></app-puntualidad-badge>
        </div>
    </div>

</ng-container>

<!-- SA -->
<ng-container *ngIf="showOpts['ch_sa'] && asistData">
    <div class='d-flex justify-content-start'>
        <div class="p-1 ml-auto">
            <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px">r</button>
        </div>
        <div class="p-1 ml-auto">
            <app-sa-badge btnWidth=100 [dataAsesor]="asistData" [date]="date"></app-sa-badge>
        </div>
    </div>

</ng-container>

<!-- Excepciones -->
<ng-container *ngIf="showOpts['ch_excep']">
    <ng-container *ngIf="asistData">
        <div class='d-flex justify-content-start'>
            <div class="p-1 ml-auto">
                <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px" data-toggle="modal" data-target="#pyaExceptModal" (click)="newExcept()" [disabled]="!editable">e</button>
            </div>
            <div class="p-1 ml-auto">
                <button [style.width.px]="100" class="btn btn-block btn-outline-secondary text-warning" *ngIf="asistData['loading']">
              <span class="text-center">
                <i class="fas fa-spinner fa-fw fa-pulse"></i>
              </span>
        </button>
                <app-asistencia-badge btnWidth=100 [dataAsesor]="asistData" [date]="date" *ngIf="!asistData['loading']"></app-asistencia-badge>
            </div>
        </div>
        <div class='d-flex justify-content-center' *ngIf="showOpts['ch_excep_p']">
            <app-extra-switch [pago]="asistData['pdt']" [id]="asistData['ausentismoId']" [fecha]="asistData['js']" [code]="asistData['Code_aus']" [tipo]="'dt'" (save)="hxSave($event)"></app-extra-switch>
        </div>
    </ng-container>
    <ng-container *ngIf="!asistData">
        <div class='d-flex justify-content-start'>
            <div class="p-1 ml-auto">
                <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px">e</button>
            </div>

            <div class="p-1 ml-auto">
                <button class="btn btn-sm btn-block btn-light" style="width: 100px">
          <span class="text-center">
            <small>NA</small>
          </span>
        </button>
            </div>
        </div>
    </ng-container>
</ng-container>

<!-- PDV -->
<ng-container *ngIf="showOpts['ch_pdv'] && asistData">
    <div class='d-flex justify-content-start'>
        <div class="p-1 ml-auto">
            <button class="btn btn-sm btn-block btn-outline-primary" style="width: 30px">p</button>
        </div>
        <div class="p-1 ml-auto">
            <app-pdv-badge btnWidth=100 [dataAsesor]="asistData['pdvAssign']" [date]="date"></app-pdv-badge>
        </div>
    </div>

</ng-container>