.text-sm {
    font-size: 13px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.cdk-overlay-container,
.cdk-overlay-pane {
    z-index: 9999 !important;
}

@media screen and (max-width: 768px) {
    .mobileHide {
        display: none!important;
    }
}