<div class="alert alert-danger" role="alert" *ngIf="!showContents">
    <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">Gerencia</span> si necesitas accesos.</p>
</div>
<div class="container-fluid" *ngIf="showContents">
    <div class="container-fluid">
        <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <span><h1 class="display-3">Listado de Reservas CIELO</h1></span>
                        <p class="lead">Consulta y da seguimiento a tus reservas generadas en CIELO</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="container-fluid d-flex justify-content-center flex-wrap p-2">
                    <mat-card [style.width.px]="280" class="m-1">
                        <div class="d-flex justify-content-between">
                            <mat-card-content>
                                <mat-form-field>
                                    <input matInput placeholder="Nombre / voucher / rsva" [(ngModel)]="search['searchString']" [disabled]="!search['locFlag']">
                                </mat-form-field>
                            </mat-card-content>
                            <div class="p-2 align-content-center">
                                <ui-switch size="small" name='exist' [(ngModel)]="search['locFlag']"></ui-switch>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card [style.width.px]="280" class="m-1">
                        <div class="d-flex justify-content-between">
                            <mat-card-content>
                                <mat-progress-bar mode="buffer" *ngIf="loading['mdo']"></mat-progress-bar>
                                <mat-form-field *ngIf="!loading['mdo']">
                                    <mat-label>Mercado</mat-label>
                                    <mat-select [disabled]="!search['mdoFlag']" [(ngModel)]="search['mdo']">
                                        <mat-option *ngFor="let mdo of mdos" [value]="mdo['mdo']">
                                            {{ mdo['mdo'] }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-card-content>
                            <div class="p-2 align-content-center">
                                <ui-switch size="small" name='exist' [(ngModel)]="search['mdoFlag']"></ui-switch>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card [style.width.px]="180" class="m-1">
                        <mat-card-content>
                            <div class="d-flex justify-content-between">
                                <mat-form-field [style.width.px]="100">
                                    <input matInput placeholder="Fecha Creacion" id="created" [autoClose]="false" (click)="search['dtCreatedFlag'] ? dC.toggle() : search['dtCreatedFlag']=search['dtCreatedFlag']" name="dp" ngbDatepicker #dC="ngbDatepicker" [dayTemplate]="tdC" (dateSelect)="onDateSelection($event, dC, 'created')"
                                        autocomplete="off" readonly [disabled]="!search['dtCreatedFlag']">
                                    <ng-template #tdC let-date="date" let-focused="focused">
                                        <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                            {{ date.day }}
                                        </span>
                                    </ng-template>
                                </mat-form-field>
                                <div class="p-2 align-content-center">
                                    <ui-switch size="small" name='exist' [(ngModel)]="search['dtCreatedFlag']"></ui-switch>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card [style.width.px]="180" class="m-1">
                        <mat-card-content>
                            <div class="d-flex justify-content-between">
                                <mat-form-field [style.width.px]="100">
                                    <input matInput placeholder="Fecha Llegada" id="arrival" [autoClose]="false" (click)="search['dtArrivalFlag'] ? dA.toggle() : search['dtArrivalFlag']=search['dtCreatedFlag']" name="dp" ngbDatepicker #dA="ngbDatepicker" [dayTemplate]="tdA" (dateSelect)="onDateSelection($event, dA, 'arrival')"
                                        autocomplete="off" readonly [disabled]="!search['dtArrivalFlag']">
                                    <ng-template #tdA let-date="date" let-focused="focused">
                                        <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                            {{ date.day }}
                                        </span>
                                    </ng-template>
                                </mat-form-field>
                                <div class="p-2 align-content-center">
                                    <ui-switch size="small" name='exist' [(ngModel)]="search['dtArrivalFlag']"></ui-switch>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card [style.width.px]="180" class="m-1">
                        <mat-card-content>
                            <div class="d-flex justify-content-between">
                                <mat-form-field [style.width.px]="100">
                                    <input matInput placeholder="Fecha Salida" id="departure" [autoClose]="false" (click)="search['dtDepartureFlag'] ? dD.toggle() : search['dtDepartureFlag']=search['dtCreatedFlag']" name="dp" ngbDatepicker #dD="ngbDatepicker" [dayTemplate]="tdD" (dateSelect)="onDateSelection($event, dD, 'departure')"
                                        autocomplete="off" readonly [disabled]="!search['dtDepartureFlag']">
                                    <ng-template #tdD let-date="date" let-focused="focused">
                                        <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                            {{ date.day }}
                                        </span>
                                    </ng-template>
                                </mat-form-field>
                                <div class="p-2 align-content-center">
                                    <ui-switch size="small" name='exist' [(ngModel)]="search['dtDepartureFlag']"></ui-switch>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card [style.width.px]="280" class="m-1">
                        <mat-card-content>
                            <div class="d-flex justify-content-between">
                                <div class="form-group row">
                                    <app-search-asesor (result)="onSelected( $event )" [matStyle]="true" [disableInput]="!search['asesorFlag']" inputClass="pl-2 mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored" [currentUser]="currentUser" [active]="2"
                                        udn="self" placeholder="Nombre Asesor..."></app-search-asesor>
                                </div>
                                <div class="p-2 align-content-center">
                                    <ui-switch size="small" name='exist' [(ngModel)]="search['asesorFlag']"></ui-switch>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="container d-flex justify-content-end p-2">
                    <div class="m-1">
                        <ui-switch size="small" name='isPay' [(ngModel)]="search['isPay']" checkedLabel='Solo PPago' uncheckedLabel='Solo PPago'></ui-switch>
                    </div>
                    <div class="m-1">
                        <ui-switch size="small" name='isNR' (change)="!$event ? search['nr_overdue'] = false : search['isNR'] = $event" [(ngModel)]="search['isNR']" checkedLabel='Solo NR' uncheckedLabel='Solo NR'></ui-switch>
                    </div>
                    <div class="m-1">
                        <ui-switch size="small" name='nr_overdue' [(ngModel)]="search['nr_overdue']" checkedLabel='Vencidas' uncheckedLabel='Vencidas' [disabled]="!search['isNR']"></ui-switch>
                    </div>
                    <div class="m-1">
                        <ui-switch size="small" name='isXld' [(ngModel)]="search['isXld']" checkedLabel='Solo Xld' uncheckedLabel='Solo Xld'></ui-switch>
                    </div>
                    <div class="m-1">
                        <ui-switch size="small" name='noXld' [(ngModel)]="search['noXld']" checkedLabel='Sin Xld' uncheckedLabel='Sin Xld'></ui-switch>
                    </div>
                    <div class="m-1">
                        <ui-switch size="small" name='isNS' [(ngModel)]="search['isNS']" checkedLabel='Solo NS' uncheckedLabel='Solo NS'></ui-switch>
                    </div>
                    <div class="m-1">
                        <ui-switch size="small" name='onlyCC' [(ngModel)]="search['onlyCC']" checkedLabel='Solo CC' uncheckedLabel='Solo CC'></ui-switch>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-end p-2">
                <div class='mr-auto'>
                    <app-xls-download class="mr-1" tableId="listCieloTable" [rawFlag]="false" [isJs]="false" shName="Reservas" bkName="rsvasCielo" *ngIf="data.length > 0" title="Descargar"></app-xls-download>
                    <app-xls-download class="mr-1" [rawFlag]="false" [isJs]="true" shName="Reservas" [json]="data" bkName="rsvasCielo" *ngIf="data.length > 0" title="Descargar Todo"></app-xls-download>
                </div>
                <button mat-raised-button color="primary" (click)="searchLocs()">Buscar</button>
            </div>

        </div>

        <mat-progress-bar mode="buffer" *ngIf="loading['locs']"></mat-progress-bar>

        <div class="container alert alert-danger" role="alert" *ngIf="data.length == 0 && !loading['locs'] && searchFlag">
            No hay reservaciones para mostrar
        </div>

        <div class="container-fluid" *ngIf="data.length > 0">

            <ngx-table [configuration]="config" [data]="data" [columns]="columns" id="listCieloTable">
                <ng-template let-row>
                    <td class="row__email" [ngClass]="{'bg-alert': row['e'] == 'c' || row['e'] == 'n'}" *ngFor="let item of columns">
                        <span [ngSwitch]="item['type']">
                            <span style="font-size: smaller" *ngSwitchCase="'default'">
                            {{ row[item['key']] }}
                            </span>
                        <span style="font-size: smaller" *ngSwitchCase="'npropio'">
                            {{ row[item['key']] | capitalizado }}
                            </span>
                        <span style="font-size: smaller" *ngSwitchCase="'ocup'">
                            {{ row['adultos'] }} | {{ row['juniors'] }} | {{ row['menores'] }}
                            </span>
                        <span style="font-size: smaller" *ngSwitchCase="'money'">
                            {{ row[item['key']] | currency:'MXN':'symbol-narrow':'.2-2' }}
                            </span>
                        <span style="font-size: smaller" *ngSwitchCase="'date'">
                            {{ formatDate(row[item['key']], 'DD MMM YYYY') }}
                            </span>
                        <span style="font-size: smaller" *ngSwitchCase="'nr'">
                              <mat-chip-list *ngIf="row[item['key']] == 1">
                                <mat-chip color="accent" selected>NR</mat-chip>
                              </mat-chip-list>
                          </span>
                        <span style="font-size: smaller" *ngSwitchCase="'validate'">
                              <mat-chip-list *ngIf="row['isNR'] == 1">
                                <mat-chip [color]="row['pagoValidado'] == 1 ? 'success' : row['pagoValidado'] == 2 ? 'info' : row['dtCreated'] == row['llegada'] ? 'accent' : 'warn'" selected>{{ row['pagoValidado'] == 1 ? 'OK' : row['pagoValidado'] == 2 ? 'PDT' : row['dtCreated'] == row['llegada'] ? 'llegada' : 'Invalid' }}</mat-chip>
                              </mat-chip-list>
                          </span>
                        <span style="font-size: smaller" *ngSwitchCase="'desplazo'">
                              <mat-chip-list *ngIf="row['isDesplazo_d'] == 1 || row['isDesplazo_o'] == 1">
                                <mat-chip [color]="row['isDesplazo_d'] == 1 ? 'primary' : row['isDesplazo_o'] == 1 ? 'accent' : 'warn'" selected>{{ row['isDesplazo_d'] == 1 ? 'Desplazada' : row['isDesplazo_o'] == 1 ? 'Desplazo' : 'warn' }}</mat-chip>
                              </mat-chip-list>
                          </span>
                        <span style="font-size: smaller" *ngSwitchCase="'pago'">
                              <mat-chip-list *ngIf="row['prefix'] == 'PP' || row['prefix'] == 'PD' || row['prefix'] == 'PT' || row['prefix'] == 'PH'">
                                <mat-chip [color]="row['prefix'] == 'PP' ? 'info' : row['prefix'] == 'PT' ? 'success' : row['prefix'] == 'PH' ? 'alert' : 'warn'" selected>
                                    {{ row['prefix'] == 'PP' ? 'PP' : row['prefix'] == 'PT' ? 'PT' : row['prefix'] == 'PH' ? 'PH' : 'PDT' }}
                                </mat-chip>
                              </mat-chip-list>
                          </span>
                        <span style="font-size: smaller" *ngSwitchCase="'status'">
                              <mat-chip-list>
                                <mat-chip [color]="row[item['key']] == 'PDT' ? 'accent' : row[item['key']] == 'Agregar' ? 'warn' : row[item['key']] == 'PH' ? 'info' : row[item['key']] == 'PDT' ? 'pdt' : 'success'" selected>{{row[item['key']]}}</mat-chip>
                              </mat-chip-list>
                          </span>
                        <span style="font-size: smaller" *ngSwitchCase="'conf'">
                              <mat-chip-list>
                                <mat-chip [color]="row[item['key']] == null ? '' : row[item['key']] == 'R' ? 'primary' : row[item['key']] == 'c' ? 'accent' : row[item['key']] == 'n' ? 'alert' : 'success'" selected>{{row[item['key']] == null ? '-' : row[item['key']]}}</mat-chip>
                              </mat-chip-list>
                              <small style="font-size: smaller" *ngIf="row['e'] == 'c'">{{ formatDate(row['dtCancel'], 'DD-MM-YY') }} {{ row['userCancel'] }}</small>
                          </span>
                        <span style="font-size: smaller" *ngSwitchCase="'button'">
                              <!-- <a mat-mini-fab color="primary" [routerLink]="['/rsv',row['masterlocatorid']]" target="_blank">
                                <mat-icon>open_in_new</mat-icon>
                              </a> -->
                              <mat-chip-list *ngIf="row[item['key']] > 0">
                                <mat-chip color="alert" selected>{{row[item['key']] == 0 ? '-' : row[item['key']]}}</mat-chip>
                              </mat-chip-list>
                          </span>
                        </span>
                    </td>
                </ng-template>
            </ngx-table>

        </div>
    </div>