<div class="modal fade" id="cancelConfirm" tabindex="-1" role="dialog" aria-labelledby="cancelConfirmLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" [ngClass]="{'modal-lg': penaltiesFlag}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelConfirmLabel">Confirmar cancelación</h5>

            </div>
            <div class="modal-body" *ngIf="!penaltiesFlag">
                <div>
                    Estás seguro que deseas cancelar este item?
                </div>
                <!-- <div class="alert alert-danger" role="alert" *ngIf="item['insuranceRelated'] != null">
                    <p>Este item tiene ligado un seguro. Para poder cancelarlo, debes anular primero el seguro desde el <b>Gestor de Seguros</b></p>
                </div> -->
                <br>
                <!-- <pre>{{ item | json }}</pre> -->
            </div>
            <div class="modal-body" *ngIf="penaltiesFlag && !loading['cancel']">
                <ng-container *ngIf="loading['policies']">
                    <div class='continer text-center'>
                        <h5>Cargando políticas de cancelación</h5>
                        <mat-progress-bar mode='buffer'></mat-progress-bar>
                    </div>
                </ng-container>
                <ng-container *ngIf="!loading['policies']">
                    <div class='continer text-left'>
                        <h5>Reservación de tarifa {{ item['isNR'] == 1 ? 'No Reembolsable' : 'Flexible' }}</h5>
                        <div class="container d-flex justify-content-center" *ngIf="!isCortesia">
                            <table class="table table-hover">
                                <tbody>
                                    <ng-container *ngIf="isHotel">
                                        <tr>
                                            <th class="category">Travel Window</th>
                                            <td class="value">{{ policies['inicioTW'] }} a {{ policies['finTW'] }}</td>
                                        </tr>
                                        <tr>
                                            <th class="category">Temporada</th>
                                            <td class="value">{{ policies['hs'] == 1 ? 'Alta' : 'Baja' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="category">Tipo de Cancelación</th>
                                            <td class="value">{{ policies['isBusy'] == 1 ? 'Salida Anticipada / No Show' : 'Anticipado' }}</td>
                                        </tr>
                                        <tr *ngIf="policies['isBusy'] != 1">
                                            <th class="category">Tiempo para cancelar</th>
                                            <td class="value">{{ policies['policyDays'] }} días</td>
                                        </tr>
                                        <tr>
                                            <th class="category">Penalidad por Política</th>
                                            <td class="value" *ngIf="policies['isNights'] == 1">{{ policies['penalty'] }} noches</td>
                                            <td class="value" *ngIf="policies['isNights'] != 1">{{ policies['penalty'] | percent:'.0-0' }}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="isHotel">
                                        <tr>
                                            <th class="category">Monto Pagado</th>
                                            <td class="value">{{ policies['montoPagado'] | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="category">Noches dormidas</th>
                                            <td class="value">{{ policies['nochesDormidas'] }}</td>
                                        </tr>
                                        <tr >
                                            <th class="category">Penalidad Aplicable</th>
                                            <td class="value text-danger"><b>{{ policies['penalidadTotal'] | currency:'MXN':'symbol-narrow':'.2-2' }} <span *ngIf="policies['isNights']==1">( {{ policies['penalty'] }} noches )</span></b></td>
                                        </tr>
                                        <tr>
                                            <th class="category">Penalidad Sugerida</th>
                                            <td class="value">{{ policies['penalidad'] | currency:'MXN':'symbol-narrow':'.2-2' }} <span *ngIf="policies['isNights']==1">( {{ policies['penalty'] + policies['nochesDormidas'] }} noches )</span></td>
                                        </tr>
                                        <tr>
                                            <th class="category" [ngClass]="{'invalid-field': item['penalidad'] < (item['xldType'] != 'reembolso' ? policies['minimumPenalty'] : item['omit10'] ? 0 : policies['minimumPenalty']), 'invalid-field': item['penalidad'] > item['montoPagado']}">
                                                Penalidad a Aplicar<br>
                                                <span style="font-size: smaller; color: black; font-weight: normal;">Rango: {{ (item['xldType'] != 'reembolso' ? 0 : item['omit10'] ? 0 : policies['minimumPenalty']) | currency:'MXN':'symbol-narrow':'.2-2' }} ~ {{ (item['montoPagado']) | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                                            </th>
                                            <td class="value">
                                                <mat-form-field class="penaltyInput">
                                                    <mat-label>Monto Manual de Penalidad</mat-label>
                                                    <span matPrefix>$ &nbsp;</span>
                                                    <input autocomplete="off" type="number" matInput [placeholder]="policies['penalidad']" [(ngModel)]="item['penalidad']">
                                                    <mat-icon matSuffix>mode_edit</mat-icon>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="!isHotel">
                                        <tr>
                                            <th class="category">Monto Pagado</th>
                                            <td class="value">{{ item['montoPagado'] | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="category" [ngClass]="{'invalid-field': item['penalidad'] > item['montoPagado']}">
                                                Penalidad a Aplicar<br>
                                                <span style="font-size: smaller; color: black; font-weight: normal;">Rango: {{ (item['xldType'] != 'reembolso' ? 0 : item['omit10'] ? 0 : (item['montoPagado']) * .1) | currency:'MXN':'symbol-narrow':'.2-2' }} ~ {{ (item['montoPagado']) | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                                            </th>
                                            <td class="value">
                                                <mat-form-field class="penaltyInput">
                                                    <mat-label>Monto Manual de Penalidad</mat-label>
                                                    <span matPrefix>$ &nbsp;</span>
                                                    <input autocomplete="off" type="number" matInput [(ngModel)]="item['penalidad']">
                                                    <mat-icon matSuffix>mode_edit</mat-icon>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr>
                                        <th class="category">Tipo de Operación</th>
                                        <td class="value">
                                            <mat-radio-group aria-label="Tipo de Operacion" [(ngModel)]="item['xldType']">
                                                <mat-radio-button value="traspaso">Traspaso</mat-radio-button>
                                                <mat-radio-button value="reembolso">Reembolso</mat-radio-button>
                                            </mat-radio-group>
                                        </td>
                                    </tr>
                                    <tr *ngIf="item['xldType'] == 'reembolso'">
                                        <th class="category">Omitir 10% por gasto administrativo</th>
                                        <td class="value">
                                            <section class="example-section">
                                                <mat-checkbox class="check-margin" [(ngModel)]="item['omit10']">Omitir</mat-checkbox>
                                            </section>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-container>
                <br>
            </div>
            <div class="modal-footer" *ngIf="!penaltiesFlag">
                <button type="button" class="btn btn-secondary" (click)="closeCancelModal()" [disabled]="loading['cancel']">Cerrar</button>
                <!-- <button type="button" class="btn btn-success" (click)="confirmCancel()" [disabled]="loading['cancel'] || item['insuranceRelated'] != null"><span *ngIf="!loading['cancel']">Aceptar</span><span *ngIf="loading['cancel']"><i class="fa fa-spinner fa-pulse"></i></span></button> -->
                <button type="button" class="btn btn-success" (click)="confirmCancel()" [disabled]="loading['cancel']"><span *ngIf="!loading['cancel']">Aceptar</span><span *ngIf="loading['cancel']"><i class="fa fa-spinner fa-pulse"></i></span></button>
            </div>
            <div class="modal-footer" *ngIf="penaltiesFlag && !loading['cancel']">
                <button type="button" class="btn btn-secondary" (click)="closeCancelModal()" [disabled]="loading['cancel']">Cerrar</button>
                <button type="button" class="btn btn-danger" (click)="sendCancellation()" [disabled]="!item['xldType'] || item['penalidad'] == null"><span *ngIf="!loading['cancel']">Aplicar Cancelación</span><span *ngIf="loading['cancel']"><i class="fa fa-spinner fa-pulse"></i></span></button>
            </div>
            <mat-progress-bar mode="buffer" *ngIf="penaltiesFlag && loading['cancel']"></mat-progress-bar>
        </div>
    </div>
</div>