<mat-progress-bar mode="buffer" *ngIf="loading['comisiones']"></mat-progress-bar>

<div class="container alert alert-danger" role="alert" *ngIf="data.length == 0 && !loading['comisiones']">
    No hay información para mostrar
</div>
<div class="container-fluid" *ngIf="data.length > 0">

    <ngx-table [configuration]="config" [data]="data" [columns]="columns" id="listCieloTable">
        <ng-template let-row>
            <td class="row__email" [ngClass]="{'bg-alert': row['e'] == 'c' || row['e'] == 'n'}" *ngFor="let item of columns">
                <span [ngSwitch]="item['type']">
                        <span style="font-size: smaller" *ngSwitchCase="'default'">
                        {{ row[item['key']] }}
                        </span>
                <span style="font-size: smaller" *ngSwitchCase="'npropio'">
                        {{ row[item['key']] | capitalizado }}
                        </span>
                <span style="font-size: smaller" *ngSwitchCase="'ocup'">
                        {{ row['adultos'] }} | {{ row['juniors'] }} | {{ row['menores'] }}
                        </span>
                <span style="font-size: smaller" *ngSwitchCase="'money'">
                        {{ row[item['key']] | currency:'MXN':'symbol-narrow':'.2-2' }}
                        </span>
                <span style="font-size: smaller" *ngSwitchCase="'nr'">
                          <mat-chip-list *ngIf="row[item['key']] == 1">
                            <mat-chip color="accent" selected>NR</mat-chip>
                          </mat-chip-list>
                      </span>
                <span style="font-size: smaller" *ngSwitchCase="'validate'">
                          <mat-chip-list *ngIf="row['isNR'] == 1">
                            <mat-chip [color]="row['pagoValidado'] == 1 ? 'success' : row['pagoValidado'] == 2 ? 'info' : row['dtCreated'] == row['llegada'] ? 'accent' : 'warn'" selected>{{ row['pagoValidado'] == 1 ? 'OK' : row['pagoValidado'] == 2 ? 'PDT' : row['dtCreated'] == row['llegada'] ? 'llegada' : 'Invalid' }}</mat-chip>
                          </mat-chip-list>
                      </span>
                <span style="font-size: smaller" *ngSwitchCase="'desplazo'">
                          <mat-chip-list *ngIf="row['isDesplazo_d'] == 1 || row['isDesplazo_o'] == 1">
                            <mat-chip [color]="row['isDesplazo_d'] == 1 ? 'primary' : row['isDesplazo_o'] == 1 ? 'accent' : 'warn'" selected>{{ row['isDesplazo_d'] == 1 ? 'Desplazada' : row['isDesplazo_o'] == 1 ? 'Desplazo' : 'warn' }}</mat-chip>
                          </mat-chip-list>
                      </span>
                <span style="font-size: smaller" *ngSwitchCase="'pago'">
                          <mat-chip-list *ngIf="row['prefix'] == 'PP' || row['prefix'] == 'PD' || row['prefix'] == 'PT' || row['prefix'] == 'PH'">
                            <mat-chip [color]="row['prefix'] == 'PP' ? 'info' : row['prefix'] == 'PT' ? 'success' : row['prefix'] == 'PH' ? 'alert' : 'warn'" selected>
                                {{ row['prefix'] == 'PP' ? 'PP' : row['prefix'] == 'PT' ? 'PT' : row['prefix'] == 'PH' ? 'PH' : 'PDT' }}
                            </mat-chip>
                          </mat-chip-list>
                      </span>
                <span style="font-size: smaller" *ngSwitchCase="'status'">
                          <mat-chip-list>
                            <mat-chip [color]="row[item['key']] == 'PDT' ? 'accent' : row[item['key']] == 'Agregar' ? 'warn' : row[item['key']] == 'PH' ? 'info' : row[item['key']] == 'PDT' ? 'pdt' : 'success'" selected>{{row[item['key']]}}</mat-chip>
                          </mat-chip-list>
                      </span>
                <span style="font-size: smaller" *ngSwitchCase="'button'">
                          <!-- <a mat-mini-fab color="primary" [routerLink]="['/rsv',row['masterlocatorid']]" target="_blank">
                            <mat-icon>open_in_new</mat-icon>
                          </a> -->
                          <mat-chip-list *ngIf="row[item['key']] > 0">
                            <mat-chip color="alert" selected>{{row[item['key']] == 0 ? '-' : row[item['key']]}}</mat-chip>
                          </mat-chip-list>
                      </span>
                </span>
            </td>
        </ng-template>
    </ngx-table>

</div>