<div class="alert alert-danger" role="alert" *ngIf="!showContents">
    <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>
<div class="d-flex justify-content-center p-5" *ngIf="showContents && loading['loc']">
    <mat-spinner></mat-spinner>
</div>
<div class="container-fluid" *ngIf="showContents && !loading['loc'] && data['items'].length == 0">
    <div class="alert alert-danger" role="alert">
        <p>El localizador no existe o no tiene items agregados</p>
    </div>
</div>
<div class="container-fluid" *ngIf="showContents && !loading['loc'] && data['items'].length > 0">
    <!-- <div class='container bg-light text-dark'>
        <app-search-loc (selected)="selectLoc($event)" [maxHeight]="200"></app-search-loc>
    </div> -->

    <!-- ====================== INICIO CUADRO PRINCIPAL ====================== -->
    <div class="container mainFrame p-2">

        <!-- ====================== INICIO TITULAR ====================== -->
        <div class="p-0 row m-0" [style.height.px]="90">
            <div class="locFrame col-2">
                <b>{{ data['master']['masterlocatorid'] }}</b>
            </div>
            <div class="col-8" matTooltipPosition="above" [matTooltip]="data['master']['nombreCliente']">
                <div>
                    <h2 class="text-truncate"><b>{{ data['master']['nombreCliente'] }}</b></h2>
                </div>
                <p>Creada el <b>{{ formatDate(data['master']['dtCreated'], 'DD MMM YYYY HH:mm') }} hrs.</b> por <b>{{ data['master']['creador'] }}</b></p>
            </div>
            <div class="col-2 d-flex justify-content-end text-center">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip [color]="rsvType == 'Cotizacion' ? 'alert' : rsvType == 'Reserva' ? 'primary' : 'danger'" selected>{{ rsvType }}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <!-- ====================== FIN TITULAR ====================== -->

        <!-- ====================== INICIO CUERPO MEDIO ====================== -->
        <div class="container m-2 row">

            <!-- ====================== INICIO CUADRO ITEMS ====================== -->
            <div class="alert alert-danger" role="alert" *ngIf="data['master']['blacklisted'] == 1">
                Reserva Bloqueada por alerta de fraude!! Solicita a Gerencia que sea desbloqueada después de haber solicitado documentos de verificación
            </div>
            <div class="itemsFrame col-9 pb-4">
                <div class="d-flex flex-wrap justify-content-end p-1" *ngIf="_init.checkSingleCredential('app_cotizador') && data['master']['hasTransfer'] == 0 && loading['cTransfer']">
                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                </div>
                <div class="d-flex flex-wrap justify-content-end p-1" *ngIf="_init.checkSingleCredential('app_cotizador') && !loading['cTransfer']">
                    <!-- <button mat-button style="zoom: 0.8" color="warn"><mat-icon>edit</mat-icon> Modificar</button> -->
                    <button mat-button class="mr-auto" style="zoom: 0.8" color="primary" (click)="addCourtesyTransfer()" *ngIf="data['master']['hasTransfer'] == 0"><mat-icon>airport_shuttle</mat-icon> Traslado Cortesía</button>
                    <button mat-button style="zoom: 0.8" color="accent" (click)="addBlacklist()" *ngIf="data['master']['blacklisted'] == 0 && _init.checkSingleCredential('rsv_blacklistAdd')"><mat-icon>warning</mat-icon> Agregar a Blacklist</button>
                    <button mat-button style="zoom: 0.8" color="primary" (click)="_regP.openModal()" *ngIf="_init.checkSingleCredential('rsv_paymentReg')"><mat-icon>play_for_work</mat-icon> Registrar Pago</button>
                    <button mat-button style="zoom: 0.8" color="primary" (click)="_genL.open( data )" *ngIf="_init.checkSingleCredential('rsv_linkGenerator')"><mat-icon>link</mat-icon> Generar Liga</button>
                    <!-- <button mat-button style="zoom: 0.8" color="primary" (click)="_linkP.openModal( data['master'] )"><mat-icon>link</mat-icon> Ligar</button> -->
                    <button mat-button style="zoom: 0.8" color="primary" (click)="_payment.openModal( data['master']['zdUserId'], data['items'] )"><mat-icon>payment</mat-icon> Saldar</button>
                    <button mat-button style="zoom: 0.8" color="accent" (click)="removeBlacklist()" *ngIf="data['master']['blacklisted'] == 1 && _init.checkSingleCredential('rsv_blacklistRemove')"><mat-icon>warning</mat-icon> Quitar Blacklist</button>
                </div>
                <div class="d-flex justify-content-around alert alert-warning text-sm" role="alert" *ngIf="data['master']['hasTransfer'] == 1 && loading['cTransfer']">
                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                </div>
                <div class="d-flex justify-content-around alert alert-warning text-sm" role="alert" *ngIf="data['master']['hasTransfer'] == 1 && !loading['cTransfer']">
                    <div class='mr-1'>
                        Reserva con traslados en cortesía pendientes por programar
                    </div>
                    <div>
                        <button mat-button style="zoom: 0.8" color="danger" (click)="addCourtesyTransfer(false)"><mat-icon>airport_shuttle</mat-icon> Eliminar Traslado Cortesía</button>
                    </div>
                </div>
                <div class="container p-1 bg-light">
                    <div class="container row rowItemNoBorder">
                        <div class="col-4"></div>
                        <div class="col-2 text-center"><b>Conf.</b></div>
                        <div class="col-2 text-center"><b>Total</b></div>
                        <div class="col-4 text-center row">
                            <div class="col-6 text-right text-success"><small>Prepago</small></div>
                            <div class="col-6 text-right text-primary"><small>Pago Hotel</small></div>
                        </div>
                    </div>
                    <hr class="hrItems">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let i of data['items']">
                            <mat-expansion-panel-header>
                                <div class="container row rowItem">
                                    <div class="col-4 text-truncate" [matTooltip]="i['tipoServicio']" matTooltipPosition="above">
                                        <button mat-icon-button color="primary">
                                            <span class="mr-2">{{ i['itemLocatorId'] }}</span>
                                            <mat-icon>{{ i['icon'] }}</mat-icon><span class="ml-2">{{ i['tipoServicio'] }}</span>
                                        </button>
                                    </div>
                                    <ng-container *ngIf="i['isCancel'] == 0">
                                        <div class="d-flex align-items-center flex-wrap justify-content-center col-2 mt-auto mb-auto text-center text-truncate p-0" [ngClass]="colorConfirm(i['confirm'], isVigente(i['vigencia']), i['isQuote'] == 1)">
                                            <div class='text-center'>

                                                <!-- CONFIRMACION -->
                                                {{ i['isQuote'] == 1 && !isVigente(i['vigencia']) ? 'Expirada' : i['confirm'] }}<br>

                                                <!-- STATUS PAGO -->
                                                <span [matTooltip]="i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge badge-pill badge-success" *ngIf="i['tipoPago'] == 'PT'">PT</span>
                                                <span [matTooltip]="i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge badge-pill badge-secondary" *ngIf="i['tipoPago'] == 'OD'">OD</span>
                                                <span [matTooltip]="i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge badge-pill badge-info" *ngIf="i['tipoPago'] == 'PP'">PP</span>
                                                <span [matTooltip]="i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge badge-pill badge-primary" *ngIf="i['tipoPago'] == 'PH'">PH</span>
                                                <span [matTooltip]="i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge badge-pill badge-warning" *ngIf="i['tipoPago'] == 'PDT'">PDT</span>

                                                <!-- STATUS CIELO -->
                                                <span [ngSwitch]="i['cieloStatus']" [matTooltip]="i['cieloStatus']" [matTooltipPosition]="'above'">
                                                    <span class="badge-status badge badge-pill badge-danger" *ngSwitchCase="'c'">C</span>
                                                <span class="badge-status badge badge-pill badge-warning" *ngSwitchCase="'n'">N</span>
                                                <span class="badge-status badge badge-pill badge-success" *ngSwitchCase="'b'">B</span>
                                                <span class="badge-status badge badge-pill badge-success" *ngSwitchCase="'s'">S</span>
                                                <span class="badge-status badge badge-pill badge-primary" *ngSwitchCase="'r'">R</span>
                                                <span class="badge-status badge badge-pill badge-info" *ngSwitchCase="'o'">O</span>
                                                <span class="badge-status badge badge-pill badge-warning" *ngSwitchCase="'pdt'">PDT</span>
                                                <span class="badge-status badge badge-pill badge-success" *ngSwitchDefault>D</span>
                                                </span>

                                            </div>


                                        </div>

                                        <div class="col-2 mt-auto mb-auto text-right">{{ i['monto'] | currency:'MXN':'symbol-narrow':'.2-2' }}</div>
                                        <div class="col-4 mt-auto mb-auto text-right row">
                                            <div class="col-6 text-right p-0">
                                                <p class="text-success"><small>{{ i['montoPagado'] | currency:'MXN':'symbol-narrow':'.2-2' }}</small></p>
                                                <p style="font-size: 10px" [ngClass]="{'text-danger': i['montoSaldoPrepago'] > 0, 'text-success': i['montoSaldoPrepago'] <= 0}">(saldo: {{ (i['montoSaldoPrepago']) | currency:'MXN':'symbol-narrow':'.2-2' }})</p>
                                            </div>
                                            <div class="col-6 text-right" [ngClass]="{'text-primary': i['montoSaldoHotel'] > 0, 'text-success': i['montoSaldoHotel'] <= 0}"><b>{{ i['montoSaldoHotel'] | currency:'MXN':'symbol-narrow':'.2-2' }}</b></div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="i['isCancel'] == 1">
                                        <div class="col-8 mt-auto mb-auto text-center itemCancelled">Item Cancelado conf. {{ i['confirmCancel'] ? i['confirmCancel'] : 'Pendiente' }}</div>
                                    </ng-container>
                                </div>
                            </mat-expansion-panel-header>

                            <div class="alert" [ngClass]="{'alert-danger': !isVigente(i['vigencia']), 'alert-warning': isVigente(i['vigencia'])}" role="alert" *ngIf="i['isQuote'] == 1">
                                <span *ngIf="isVigente(i['vigencia'])">Cotización expira el {{ formatDate(i['vigencia'], 'DD MMM YYYY HH:mm', true) }} hrs</span>
                                <span *ngIf="!isVigente(i['vigencia'])">Cotización expirada. Venció el {{ formatDate(i['vigencia'], 'DD MMM YYYY HH:mm', true) }} hrs</span>
                            </div>
                            <div class="alert alert-info" role="alert" *ngIf="i['isFree'] == 1">
                                Item marcado como cortesía, relacionado con reservas {{ i['cieloRelates'] }}
                            </div>
                            <app-edit-monto-parcial [i]="i" (openDates)="openOD(i)" (confSent)="getHistory(mlTicket)" (saveMonto)="saveMonto( $event )" (saveName)="saveName( $event )" (uplImg)="uplImg($event)"></app-edit-monto-parcial>
                            <div class="container d-flex justify-content-end" *ngIf="i['itemType'] == 1">
                                <div class="mr-auto"><span class="productConceptXL" [style.width.px]="390">Notas Cielo: </span><span class="clientInfo">{{ i['cieloNotas'] }}</span></div>
                            </div>
                            <div class="container d-flex justify-content-end">
                                <div class="mr-auto"><span class="productConceptXL" [style.width.px]="390">Notas: </span><span class="clientInfo">{{ i['notas'] }}</span></div>
                                <button class='p-1' mat-button style="zoom: 0.8" color="primary" (click)="openOD(i)" *ngIf="_init.checkSingleCredential('rsv_open_dates') && i['isQuote'] == 0 && i['isCancel'] == 0"><mat-icon>meeting_room</mat-icon> Fechas Abiertas</button>
                                <button class='p-1' mat-button style="zoom: 0.8" color="primary" (click)="openODSet(i)" *ngIf="_init.checkSingleCredential('rsv_open_dates') && i['isOpen'] == 1 && i['isCancel'] == 0 && i['isQuote'] == 0"><mat-icon>beach_access</mat-icon> Establecer Fechas</button>
                                <button class='p-1' mat-button style="zoom: 0.8" color="danger" (click)="cancelItem(i)" *ngIf="_init.checkSingleCredential('app_cotizador')"><mat-icon>remove_circle</mat-icon> Cancelar</button>
                                <button class='p-1' mat-button style="zoom: 0.8" color="success" (click)="validateCert(i)" *ngIf="_init.checkSingleCredential('app_cotizador') && i['grupo']=='CORT' && i['isQuote']==1"><mat-icon>done_outline</mat-icon> Validar Certificado</button>
                                <button class='p-1' mat-button style="zoom: 0.8" color="alert" (click)="reactivate(i)" *ngIf="_init.checkSingleCredential('rsv_reactivate') && !isVigente(i['vigencia']) && i['isQuote'] == 1 && i['isCancel'] == 0"><ng-container *ngIf="loading['reactivate']"><span><i class="fas fa-spinner fa-pulse"></i></span></ng-container><ng-container *ngIf="!loading['reactivate']"><mat-icon>alarm_add</mat-icon> Reactivar</ng-container></button>
                                <button class='p-1' mat-button style="zoom: 0.8" color="primary" (click)="confirmItem(i)" *ngIf="i['isQuote'] == 0 && i['confirmOK'] == null"><mat-icon>done_outline</mat-icon> Confirmar</button>
                                <button class='p-1' mat-button style="zoom: 0.8" color="primary" (click)="resetConfirm(false,i)" *ngIf="_init.checkSingleCredential('rsv_reset_confirm') && i['isQuote'] == 0 && i['confirmOK'] != null"><mat-icon>delete_forever</mat-icon> Reset Confirmación</button>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>



                    <hr class="hrItems">
                    <div class="container row rowItemNoBorder" style="padding-right: 35px;">
                        <div class="col-4"><b>TOTAL MXN</b></div>
                        <div class="col-2"></div>
                        <div class="col-2 text-right"><b>{{ data['master']['totalMontoMXN'] | currency:'MXN':'symbol-narrow':'.2-2' }}</b></div>
                        <div class="col-4 text-right row">
                            <div class="col-6 text-right p-0">
                                <p class="text-success"><b><small>{{ data['master']['totalMontoPagadoMXN'] | currency:'MXN':'symbol-narrow':'.2-2' }}</small></b></p>
                                <p style="font-size: 10px" [ngClass]="{'text-danger': data['master']['totalMontoSaldoMXN'] > 0, 'text-success': data['master']['totalMontoSaldoMXN'] <= 0}"><b>(saldo: {{ data['master']['totalMontoSaldoMXN'] | currency:'MXN':'symbol-narrow':'.2-2' }})</b></p>
                            </div>
                            <div class="col-6 text-right" [ngClass]="{'text-primary': data['master']['totalMontoHotelMXN'] > 0, 'text-success': data['master']['totalMontoHotelMXN'] <= 0}"><b>{{ data['master']['totalMontoHotelMXN'] | currency:'MXN':'symbol-narrow':'.2-2' }}</b></div>
                        </div>
                    </div>
                    <div class="container row rowItemNoBorder" style="padding-right: 35px;">
                        <div class="col-4"><b>TOTAL USD</b></div>
                        <div class="col-2"></div>
                        <div class="col-2 text-right"><b>{{ data['master']['totalMontoUSD'] | currency:'MXN':'symbol-narrow':'.2-2' }}</b></div>
                        <div class="col-4 text-right row">
                            <div class="col-6 text-right p-0">
                                <p class="text-success"><b><small>{{ data['master']['totalMontoPagadoUSD'] | currency:'MXN':'symbol-narrow':'.2-2' }}</small></b></p>
                                <p style="font-size: 10px" [ngClass]="{'text-danger': data['master']['totalMontoSaldoUSD'] > 0, 'text-success': data['master']['totalMontoSaldoUSD'] <= 0}"><b>(saldo: {{ data['master']['totalMontoSaldoUSD'] | currency:'MXN':'symbol-narrow':'.2-2' }})</b></p>
                            </div>
                            <div class="col-6 text-right" [ngClass]="{'text-primary': data['master']['totalMontoHotelUSD'] > 0, 'text-success': data['master']['totalMontoHotelUSD'] <= 0}"><b>{{ data['master']['totalMontoHotelUSD'] | currency:'MXN':'symbol-narrow':'.2-2' }}</b></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ====================== FIN CUADRO ITEMS ====================== -->

            <!-- ====================== INICIO LATERAL CLIENTE ====================== -->
            <div class="clientFrame col-3">
                <div class="d-flex justify-content-start align-items-center">
                    <div *ngIf="!loading['sendConf']">
                        <button style="zoom: 0.8" mat-button color="primary" (click)="sendMailConfirm()"><mat-icon>mail</mat-icon> Enviar Reserva por Correo</button>
                    </div>
                    <mat-progress-bar mode="buffer" *ngIf="loading['sendConf']"></mat-progress-bar>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div *ngIf="!loading['sendConf']">
                        <button style="zoom: 0.8" mat-button color="primary" (click)="_init.copyToClipboard(urlCopy(data['master']))"><mat-icon>file_copy</mat-icon> Copiar link de confirmación</button>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Titular:</b></div>
                    <div class="clientInfo">{{ data['master']['nombreCliente'] }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Tel:</b></div>
                    <div class="clientInfo">{{ data['master']['telCliente'] }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Correo:</b></div>
                    <div class="clientInfo">{{ data['master']['correoCliente'] }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Whatsapp:</b></div>
                    <div class="clientInfo">{{ data['master']['whatsCliente'] }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Idioma:</b></div>
                    <div class="clientInfo">{{ data['master']['idioma'] }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Zendesk:</b></div>
                    <div class="clientInfo"><a target="_blank" [href]=" data['master']['zdUserId'] | domseguro:'https://oasishoteles.zendesk.com/agent/users/' ">{{ data['master']['zdUserId'] }}</a></div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><button mat-icon-button color="primary" aria-label="edit cc button" (click)="ccFlag = true" *ngIf="!ccFlag">
                        <mat-icon style="zoom: 0.8">edit</mat-icon>
                      </button> <b>CC:</b></div>
                    <div class="clientInfo">
                        <ng-container *ngIf="!ccFlag">
                            {{ data['master']['cc'] }}
                        </ng-container>
                        <ng-container *ngIf="ccFlag">
                            <mat-form-field class="example-full-width" [style.width.px]="120">
                                <input style="font-size: 11px" matInput placeholder="Correo CC" pattern="^(.)+@(.)+\.(.)+$" [value]="data['master']['cc']" #mailInput>
                            </mat-form-field>
                            <button style="zoom: 0.8; width: 28px" mat-icon-button color='warn' (click)="ccFlag = false" [disabled]="loading['editCC']"><mat-icon *ngIf="!loading['editCC']">cancel</mat-icon><span *ngIf="loading['editCC']"><i class="fa fa-spinner fa-pulse"></i></span></button>
                            <button style="zoom: 0.8; width: 28px" mat-icon-button color='primary' (click)="editCCMail(mailInput)" [disabled]="loading['editCC']"><mat-icon *ngIf="!loading['editCC']">done</mat-icon><span *ngIf="loading['editCC']"><i class="fa fa-spinner fa-pulse"></i></span></button>
                        </ng-container>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div *ngIf="!_updU.loading">
                        <button style="zoom: 0.8" mat-button color="primary" (click)="updateContact()"><mat-icon>refresh</mat-icon> Actualizar datos de contacto</button>
                    </div>
                    <mat-progress-bar mode="buffer" *ngIf="_updU.loading"></mat-progress-bar>
                </div>
                <hr>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Llegada:</b></div>
                    <div class="clientInfo">{{ formatDate(data['master']['llegada'], 'DD MMM YYYY') }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Grupo:</b></div>
                    <div class="clientInfo">{{ data['master']['grupos'] }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>FDP:</b></div>
                    <div class="clientInfo">{{ data['master']['tiposPago'] }}</div>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Tickets:</b></div>
                    <div class="clientInfo">
                        <p *ngFor="let t of data['master']['tickets']"><a target="_blank" [href]=" t | domseguro:'https://oasishoteles.zendesk.com/tickets/' ">{{ t }}</a></p>
                    </div>
                </div>
                <hr>
                <ng-container *ngIf="rsvHistory.length > 1">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="clientConcept"><b>Reservas:</b></div>
                        <div class="clientInfo">
                            <ul>
                                <ng-container *ngFor="let rh of rsvHistory">
                                    <ng-container *ngIf="rh.ml != data['master']['masterlocatorid']">
                                        <li *ngIf="rh.st != 'X'" [ngClass]="{'text-warning': rh.st == 'Q', 'text-success': rh.st == 'R','text-info': rh.st == 'Exp'}"><a href="/#/rsv2/{{ rh.ml }}" target="_blank">{{ rh.ml }} ({{ rh.services }})</a></li>
                                        <li *ngIf="rh.st == 'X'" class='text-danger'><del><a href="/#/rsv2/{{ rh.ml }}" target="_blank">{{ rh.ml }} ({{ rh.services }})</a></del></li>
                                    </ng-container>
                                </ng-container>
                            </ul>
                            <ng-container *ngIf="loading['rsvHistory']">
                                <mat-progress-bar mode="buffer"></mat-progress-bar>
                            </ng-container>
                        </div>
                    </div>
                    <hr>
                </ng-container>
                <ng-container *ngIf="data['master']['payments'] != null">

                    <div class="d-flex justify-content-start align-items-center">
                        <div class="clientConcept"><b>Pagos:</b></div>
                        <div class="clientInfo">
                            <button mat-button data-toggle="modal" data-target="#paymentSummary">Ver pagos</button>
                        </div>
                    </div>
                    <hr>
                </ng-container>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="clientConcept"><b>Comision:</b></div>
                    <div class="clientInfo">{{ data['master']['comision'] | currency:'MXN':'symbol-narrow':'.2-2' }} MXN</div>
                </div>
            </div>
            <!-- ====================== FIN LATERAL CLIENTE ====================== -->
        </div>
        <!-- ====================== FIN CUERPO MEDIO ====================== -->

        <div class="container p-2">
            <div class="form d-flex justify-content-between align-items-center pr-3">
                <div class="form-group p-1">
                    <div class="input-group">
                        <textarea rows="4" cols="136" [(ngModel)]="comment" placeholder="Agrega notas a la reserva" id="notas"></textarea>
                    </div>
                </div>
                <div class="p-1">
                    <button mat-raised-button color='primary' (click)="sendComment()" [disabled]="comment==''"><span *ngIf="!loading['comment']">Enviar</span><span *ngIf="loading['comment']"><i class="fa fa-spinner fa-pulse"></i></span></button>
                </div>
            </div>
            <div class="container d-flex justify-content-lg-center" *ngIf="loading['history']">
                <mat-spinner></mat-spinner>
            </div>
            <mat-list *ngIf="!loading['history']">
                <ng-container *ngFor="let c of history">
                    <!-- <mat-list-item> -->
                    <div class="container row  p-2">
                        <div class="ml-3" [style.width.px]="130">
                            <small><b>{{ formatDate(c['Fecha'], 'ddd DD MMM YYYY') }} <span class="text-info">{{ formatDate(c['Fecha'], 'HH:mm') }} hrs</span>:</b></small>
                        </div>
                        <div class="col pl-0">
                            <span class="text-secondary" [innerHTML]="formatHistory(c['msg'])"></span>
                        </div>
                    </div>

                    <!-- </mat-list-item> -->
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </div>
    </div>
    <!-- ====================== FIN CUADRO PRINCIPAL ====================== -->

</div>

<!-- ====================== CONFIRMAR CANCELACION ====================== -->
<app-rsv-cancel-item (cancelled)="getLoc(viewLoc)"></app-rsv-cancel-item>
<!-- ====================== FIN CONFIRMAR CANCELACION ====================== -->

<!-- ====================== INGRESAR CONFIRMACION ====================== -->
<div class="modal fade" id="regConfirm" tabindex="-1" role="dialog" aria-labelledby="regConfirmLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="regConfirmLabel">Confirmar Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="confNum" class="col-sm-4 col-form-label">Confirmacion</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="confNum" [(ngModel)]="confirm['confirm']" placeholder="Clave Confirmacion">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="notasConf" class="col-sm-4 col-form-label">Notas</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="notasConf" [(ngModel)]="confirm['notas']" placeholder="Anotaciones">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loading['cancel']">Cerrar</button>
                <button type="button" class="btn btn-danger" (click)="saveConfirm()" [disabled]="confirm['confirm'] == '' || confirm['notas'] == '' || loading['cancel']"><span *ngIf="!loading['confirm']">Aceptar</span><span *ngIf="loading['confirm']"><i class="fa fa-spinner fa-pulse"></i></span></button>
            </div>
        </div>
    </div>
</div>
<!-- ====================== FIN INGRESAR CONFIRMACION  ====================== -->

<!-- ====================== RESETEAR CONFIRMACION ====================== -->
<div class="modal fade" id="resetConfirm" tabindex="-1" role="dialog" aria-labelledby="resetConfirmLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetConfirmLabel">Eliminar Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Realmente deseas eliminar la confirmación <b>{{ resConf['actual'] }}</b><br>del item <b>{{ resConf['itemLocatorId'] }}</b>?
            </div>
            <div class="modal-footer">
                <ng-container *ngIf="!loading['reset']">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loading['cancel']">Cerrar</button>
                    <button type="button" class="btn btn-danger" (click)="resetConfirm(true)"><span *ngIf="!loading['confirm']">Aceptar</span><span *ngIf="loading['confirm']"><i class="fa fa-spinner fa-pulse"></i></span></button>
                </ng-container>
                <ng-container *ngIf="loading['reset']">
                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<!-- ====================== FIN RESETEAR CONFIRMACION  ====================== -->

<!-- ====================== MODAL DE PAGO ====================== -->
<app-do-payment (paid)="paid($event)" [ml]="viewLoc"></app-do-payment>
<!-- ====================== FIN MODAL DE PAGO ====================== -->

<!-- ====================== MODAL DE VOUCHER ====================== -->
<app-upload-image (loadResult)="imgLoaded($event)"></app-upload-image>
<!-- ====================== FIN MODAL DE VOUCHER ====================== -->

<!-- ====================== MODAL DE LINK PAYMENT ====================== -->
<app-rsv-link-payment-direct (linked)="linked($event)"></app-rsv-link-payment-direct>
<!-- ====================== FIN MODAL DE LINK PAYMENT ====================== -->

<!-- ====================== MODAL DE REG PAYMENT ====================== -->
<app-rsv-payment-registry></app-rsv-payment-registry>
<!-- ====================== FIN MODAL DE REG PAYMENT ====================== -->

<!-- ====================== MODAL DE OPEN DATES ====================== -->
<app-rsv-open-dates (saveOpen)="this.getLoc(viewLoc)"></app-rsv-open-dates>
<!-- ====================== FIN MODAL DE OPEN DATES ====================== -->

<!-- ====================== MODAL DE SET DATES FOR OPEN DATES ====================== -->
<app-rsv-open-dates-set (saveOpen)="this.getLoc(viewLoc)"></app-rsv-open-dates-set>
<!-- ====================== FIN MODAL DE SET DATES FOR OPEN DATES ====================== -->

<!-- ====================== MODAL DE UPDATE USER ====================== -->
<app-rsv-update-contact (saved)="this.getLoc(viewLoc)"></app-rsv-update-contact>
<!-- ====================== FIN MODAL DE UPDATE USER ====================== -->

<!-- ====================== MODAL DE GEN LINK ====================== -->
<app-payment-link-gen (reloadTkt)="getHistory()" (saved)="this.getLoc(viewLoc)" (reloadFull)="this.getLoc(viewLoc, 'links')"></app-payment-link-gen>
<!-- ====================== FIN MODAL DE GEN LINK ====================== -->

<!-- ====================== MODAL DE GEN LINK ====================== -->
<app-validate-certificate (savedCert)="this.getLoc(viewLoc)"></app-validate-certificate>
<!-- ====================== FIN MODAL DE GEN LINK ====================== -->

<!-- ====================== MODAL SUMMARY PAYMENT ====================== -->
<div class="modal fade" id="paymentSummary" tabindex="-1" role="dialog" aria-labelledby="paymentSummaryLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentSummaryLabel">Resumen de Pagos {{ data['master']['masterlocator'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-bordered table-hover table-striped text-sm" *ngIf="data['master']['payments']">
                    <thead>
                        <tr>
                            <th *ngFor="let t of data['master']['payments'][0] | keys">{{ t }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of data['master']['payments']" [ngClass]="{'text-danger': p['monto'] < 0}">
                            <td *ngFor="let c of p | keys">
                                {{ p[c] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ====================== FIN MODAL DE REG PAYMENT ====================== -->