.exp-height {
    height: auto !important;
    padding: 6px !important;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.acc-headers .mat-expansion-panel-header-title,
.acc-headers .mat-expansion-panel-header-description {
    flex-basis: 0;
}

mat-accordion {
    width: 100% !important;
    max-width: 780px
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.acc-headers .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.mat-l3 {
    background-color: #bb9e11;
    color: white;
}

.mat-l4 {
    background-color: #b360bd;
    color: white;
}

mat-form-field {
    margin-right: 12px;
}

.lineNd {
    border-bottom: 1px solid red;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-26deg);
    position: absolute;
    top: -33px;
    left: -13px;
}

ul.uib-datepicker-popup.dropdown-menu.ng-scope {
    z-index: 1090 !important;
}

.ngb-dp-month {
    pointer-events: none;
    background: aliceblue!important;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.module {
    background: #353535;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}

.mod-1 {
    width: 140px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.mod-2 {
    width: 235px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.mod-3 {
    width: 315px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.mod-4 {
    width: 388px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.mod-5 {
    width: 550px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.mod-6 {
    width: 780px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.mod-7 {
    width: 956px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.mod-50 {
    width: 49.5%;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.mod-100 {
    width: 100%;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.form-group {
    margin-bottom: 10px!important;
}

mat-label {
    color: #ffffff8a
}